name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master

# Automatically stop in-progress runs on the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-checks:
    uses: "daq/gha_workflows/.github/workflows/ci_checks_uv.yml@main"

  tests:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    uses: "daq/gha_workflows/.github/workflows/ci_tests_uv.yml@main"
    with:
      python-version: ${{ matrix.python-version }}
